*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --hoverDasLetras: tomato;
  --hoverAzulFundo: #0A1323;
  --hoverAzulEscuro: rgb(4, 5, 14);
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia', serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a:hover {
  margin: 0;
  padding: 0;
  color: var(--hoverDasLetras);
  font-size: 105%;
  transition: 0.3s;
  cursor: pointer;
}

#logoNav{
  width: 10vw;
}

.video-bg{
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}

#home{
  margin-top: 2vh;
}
#navebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--hoverAzulEscuro);
  padding: 1vw;
  width:100%;
  height: 10vh;
  position:fixed;
  z-index: 10;
}

.leftNav{
  margin-left: 2vw;
  display: flex;
  gap: 2vw;
  align-items: center;
}

.rightNav{
  display:flex;
}

.logo {
    width: 4vw;
}

a {
  color: white;      
  text-decoration: none;  
}

#palavras_navbar {
  display: flex;
  margin-left: 30px; 
  gap: 20px;        
}

.banner {
  padding: 13vh;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#maoMaca{
  padding-bottom: 129vh;
  position: absolute;
}
.card {
    background-color: rgb(4, 5, 14, 0.65);
    padding: 5vw;
    width: 52vw;
    height: 44vh;
    border-radius: 25px;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
}

.card img {
    width: 12vw;
    height: auto;
    border-radius: 25px;
    margin: 2vw;
}

.card-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

#txt01, #txt02 {
    margin: 0;
    text-align: left;
}

.cardgeral {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fffb;
}

.card02 {
    background-color: #f5f8fa;
    border-radius: 30px;
    box-shadow: 0 0 0 12px #0A1323;
    display: flex;
    align-items: center;
    padding: 10vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
} 

.card02-textos{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: 'Georgia', serif;
  line-height: 1.5;
  text-align: justify;
}





/*Parte do DESCUBRA MAIS SOBRE OS FILMES*/
.filmes{
  display: flex;
  align-items: center;
  flex-direction:column;
  color: white;
}
#tituloFilmes{
  color: black;
  margin-top: 5vh;
  margin-bottom: 3vh;
  display:Flex;
  justify-content: center;
  font-size: 4rem;
}

.filme{
  background-color: var(--hoverAzulFundo);
  padding: 2vw;
  box-shadow: 0 30px 50px #000000;
}

.filme img{
  width: 12vw;
  height: 35vh;
  margin: 2vw;
  border-radius: 20px;
}

.filme img:hover{
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.letras{
  flex-direction:column;
  margin-left: 5vh;
}


/*FIM DA PARTE DESCUBRA MAIS*/


#maoMaca{ 
  margin-top: 48vh;
  transform: rotate(25deg);
  left: 67vw;
  z-index: -10;
  width: 25rem;
}

#trioprincipal{
  font-size: 4rem;
  margin-top: 19vh;
  display: flex;
  justify-content: center;
}

#tela04 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  border-radius: 20px;
  margin: 100px auto;
  color: #fff;
  text-align: center;
  margin-top: 6vh;
  box-shadow: 0 0 20px 0 #000000;
}

#tela04 h3 {
  display:flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  background: transparent;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 30px 40px;
  margin: 0 auto;
  background-color: hsl(218, 56%, 9%, 0.8); /* 0.3 = 30% opaco */
}



.carousel-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0 20px;
  transition: color 0.2s;
  user-select: none;
}

.carousel-btn:hover {
  color: yellow;
}

.carousel-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.carousel-content img {
  width: 16vw;
  object-fit: cover;
  border-radius: 15px;
  background: white;
}

.carousel-textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.carousel-textos h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 5rem;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #fff;
}

.carousel-textos p {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
  line-height: 1.4;
}

#CuriosidadesSaga{
  font-size: 2rem;
  display:flex;
  flex-direction: COLUMN;
  gap: 4vw;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 12rem;
}

#CurioTitle{
  display:flex;
  justify-content: center;
  color: black;
}

.blocoCuriosidadesAzul {
    background: var(--hoverAzulFundo); /* azul escuro */
    padding: 2vw;
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 0 0 50px 0 #000000;
}

/* Bloco branco na frente */
.blocoCuriosidadesBranco {
    background: #fff;
    border-radius: 16px;
    padding: 0vw;
  
}

.blocoCuriosidadesBranco h1 {
    font-size: 2rem;
    color: #222;
    padding: 2vw;
    font-style: bold;
}


/*----------------------------------------------FOOTER*/

.logo2{
  width:3vw;
}

.logo3{
  width:3vw;
}

#logo4{
  margin-left: 1vw;
  width: 7vw;
  border-radius: 20px;
}

.logo3:hover{
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

footer{
  background-color: var(--hoverAzulEscuro);
  color: white;
  display:flex;
  justify-content: space-around;
  max-height: 43vh;
}

.leftFooter{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1vw;
  padding: 3.5vh;
  margin-top: 2vh;
  flex: 1;
  height: 1vh;
  margin-left: 2vh;
  margin-top: 5vh;
}

.rightFooter{
  display: flex;
  justify-content: left;
  align-items: right;
  padding: 0.5vw;
  flex: 2;
  text-align: justify;
  margin-left: 120vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#textoFooter{
  font-size: 1.2rem;
  width: 18vw;
}

#sobrenos{
  margin-bottom: 20vh;
  
}

#copy{
  text-align: center;
  display: flex;
  color: #ffffff;
  background-color: var(--hoverAzulFundo);
  font-size: 1rem;
  justify-content: center;
}

/*BURGUER MENU --------------------------*/

#menuToggle
{
  display: block;
  position: fixed;
  left: 2vw;
  justify-content: center;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 30vw;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/*FIM BURGUER MENU --------------------------*/
