*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  --hoverDasLetras: tomato;
  --hoverAzulFundo: #0A1323;
  --hoverAzulEscuro: rgb(4, 5, 14);
  --Transparente:  rgb(4, 5, 14, 0.5);
}

html{
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a:hover {
  margin: 0;
  padding: 0;
  color: var(--hoverDasLetras);
  font-size: 105%;
  transition: 0.2s;
  cursor: pointer;
}

#logoNav{
  width: 10vw;
}

.video-bg{
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}

#navebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Transparente);
  padding: 1vw;
  width:100%;
  height: 10vh;
  position:fixed;
  z-index: 10;
}

.leftNav{
  display: flex;
  gap: 2vw;
  align-items: center;
}

.rightNav{
  display:flex;
}

.logo {
    width: 4vw;
}

a {
  color: white;      
  text-decoration: none;  
}

#palavras_navbar {
  display: flex;
  margin-left: 30px; 
  gap: 20px;        
}


.banner {
  padding: 13vh;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*VIDEO YOUTUBE E TEXTO PRIMEIRA TELA*/
.youtube-overlay {
    position: absolute;
    top: 20vh;
    max-height: 70vh;
    left: 5%;
    background: rgba(20, 20, 20, 0.5);
    padding: 1vw;
    padding-bottom: 20vh;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-left: 61vh;
    width: 60vh;
}

.youtube-text p {
    color: #fff;
    margin-top: 5vh;
    max-width: 21vw;
    max-height: 35vh;
    font-size: 1.1rem;
    text-align: center;
    width: 80vh;
}

#sinopse{
    margin-top: 6vh;
    text-align: justify;
}

/*FIM DO YOUTUBE / PRIMEIRA TELA*/

/*COMEÇO DA SEGUNDA TELA / RESUMO*/

.card {
    background-color: rgb(4, 5, 14, 0.65);
    padding: 5vw;
    width: 52vw;
    height: 44vh;
    border-radius: 25px;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
}

.card img {
    width: 12vw;
    height: auto;
    border-radius: 25px;
    margin: 2vw;
}

.card-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

#txt01, #txt02 {
    margin: 0;
    text-align: left;
}

.cardgeral {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fffb;
  padding-top: 1vh;
}

.card02 {
    background-color: #f5f8fa;
    border-radius: 30px;
    box-shadow: 0 0 0 12px #0A1323;
    display: flex;
    align-items: center;
    padding: 10vh;
    
} 

.card02-textos{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Georgia', serif;
  line-height: 1.5;
  text-align: justify;
}
/*FIM PRIMEIRO PARAGRAFO DE TEXTO*/

/*Começo do TEXTO IMAGEM DO OUTRO LADO*/
#textoImagem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fffb;
  padding-top: 8vh;
  padding-bottom: 5vh;
}

#imagemBella {
  width: 20vw;
  border-radius: 10px;
}

#paragrafoImagem{
  max-width: 40vw;
  margin-left: 5vw;
  font-size: 1.2rem;
  font-family: 'Georgia', serif;
  line-height: 1.5;
  text-align: justify;
}

/*----------------------------------------------FOOTER*/

.logo2{
  width:3vw;
}

.logo3{
  width:3vw;
}

#logo4{
  margin-left: 1vw;
  width: 7vw;
  border-radius: 20px;
}

.logo3:hover{
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

footer{
  background-color: var(--hoverAzulEscuro);
  color: white;
  display:flex;
  justify-content: space-around;
  max-height: 43vh;
}

.leftFooter{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1vw;
  padding: 3.5vh;
  margin-top: 2vh;
  flex: 1;
  height: 1vh;
  margin-left: 2vh;
  margin-top: 5vh;
}

.rightFooter{
  display: flex;
  justify-content: left;
  align-items: right;
  padding: 0.5vw;
  flex: 2;
  text-align: justify;
  margin-left: 120vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#textoFooter{
  font-size: 1.2rem;
  width: 18vw;
}

#sobrenos{
  margin-bottom: 20vh;
  
}

#copy{
  text-align: center;
  display: flex;
  color: #ffffff;
  background-color: var(--hoverAzulFundo);
  font-size: 1rem;
  justify-content: center;
}



/*BURGUER MENU --------------------------*/

#menuToggle
{
  display: block;
  position: fixed;
  left: 2vw;
  justify-content: center;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 30vw;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/*FIM BURGUER MENU --------------------------*/
#home{
  margin-top: 2vh;
    margin-left: 2vw;
}